// Color Variables
$primary-color: #cbccc7;
$text-color: #cbccc7;
$text-color-dark: #ffffff;
$text-color-light: #ffffff;
$body-color: #000000;
$border-color: #fffffe;
$black: #ffffff;
$white: #e9e6e1;
$gray: #e9e6e1;

// Font Variables
$primary-font: 'Area Semibold';
$secondary-font: "Arges ExtraHeavy";
$icon-font: 'themify';